<section class="section">
  <div *ngIf="!loading && missing && missing.length > 0" class="missing">
    <h4 class="title is-4">There are {{ missing.length | number }} details missing from the API</h4>
    <em>Usually, this is due to a renamingof the repository.</em>
    <ul>
      <li *ngFor="let repo of missing">
        {{ repo.owner }} / {{ repo.project }} &nbsp; ›› &nbsp;  <a [href]="'https://github.com/' + repo.owner + '/' + repo.project" target="_blank">try GitHub directly</a>
      </li>
    </ul>
  </div>

  <h2 class="title is-2">Sortable table of {{ repositories.length | number }} GitHub repositories</h2>

  <p *ngIf="!repositories || repositories.length === 0">
    Please put some text containing GitHub URLs into the text area above.
  </p>

  <div *ngIf="loading" class="loading">
    <div class="lds-ripple">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>

  <div *ngIf="!loading && repositories && repositories.length > 0" class="table-container">
    <table class="table is-striped is-hoverable is-fullwidth">
      <thead>
        <tr>
          <th *ngFor="let column of tableColumns" (click)="sortColumn(column)">
            <abbr [title]="column.name_long">
              <app-icon [icon]="column.icon"></app-icon>
              <span>{{ column.name_short }}</span>
              <app-icon style="margin-left: 10px;" [icon]="getIconFromSorting(column.initialSortDirection)" [color]="'#AAA'" ></app-icon>
            </abbr>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let repo of repositories" (click)="repo.toggleSelect()" [class.is-selected]="repo.isSelected()">
          <th (click)="openUrl(repo.repository_url)">
            <a target="_blank" [href]="repo.repository_url" >
              {{ repo.repo.owner }} /
              <br>
              {{ repo.repo.project }}
            </a>
          </th>
          <td>
            {{ repo.latest_commit_date  | date:'yyyy-MM-dd'}}
          </td>
          <td>
            {{ repo.latest_release_date | date:'yyyy-MM-dd' }}
            <br>
            {{ repo.latest_release_version }}
          </td>
          <td>
            {{ repo.count_stars }}
          </td>
          <td>
            {{ repo.count_commits }}
          </td>
          <td>
            {{ repo.license }}
          </td>
          <td>
            {{ repo.count_contributors}}
          </td>
          <td>
            {{ repo.count_branches }}
          </td>
          <td>
            {{ repo.count_tags }}
          </td>
          <td>
            {{ repo.count_issues }}
          </td>
          <td>
            {{ repo.count_pull_requests }}
          </td>
          <td>
            {{ repo.count_forks }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
