<div class="modal" id="about-modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">About this service</p>
      <button class="delete" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      <p>
        This project came about when looking for decent replacements for old libraries in a GoLang project.
        While scrolling throught the
        <a href="https://raw.githubusercontent.com/avelino/awesome-go/main/README.md" target="_blank">
          awesome-go
        </a>
        list I was wondering which project was best suited for my use case.
      </p>

      <div style="margin-top: 15px;"><strong>ACKNOWLEDGMENTS</strong></div>
      <em>Thanks to the following projects for making my job easier</em>
      <li><a href="https://docs.github.com/en/graphql">GitHub GraphQL API</a></li>
      <li><a href="https://til.simonwillison.net/github/bulk-repo-github-graphql">Bulk loading of a hundred repositories</a></li>
      <li><a href="https://katopz.medium.com/how-to-search-with-github-graphql-e6c142dc61ed">Article on GitHub's GraphQL search API</a></li>
      <li><a href="https://angular.io/">Angular</a></li>
      <li><a href="https://apollo-angular.com/docs/">Apollo Angular, GraphQL client</a></li>
      <li><a href="https://bulma.io/">Bulma CSS</a></li>
      <li><a href="https://regex101.com/">Regex101</a></li>
      <li><a href="https://www.freeiconspng.com/img/11527">Scale Icon</a></li>
      <li><a href="https://css.gg">Arrow Icons</a></li>
      <li><a href="https://loading.io/css/">CSS loading animation</a></li>
    </section>
  </div>
</div>
