<nav class="navbar is-fixed-top is-info" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">

    <a class="navbar-item" href="/">
      <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
    </a>

    <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu" id="navMenu">
    <div class="navbar-end">
      <a class="navbar-item">
        Input
      </a>
      <a class="navbar-item">
        Table
      </a>
      <a class="js-modal-trigger navbar-item" data-target="about-modal">
        About
      </a>
    </div>
  </div>
</nav>

<app-input></app-input>

<app-table></app-table>

<app-about></app-about>
