<section class="section">
  <div class="field">
    <label class="label">Enter your blob of text containing GitHub URLs</label>
    <textarea class="textarea" placeholder="Paste your URLs here" rows="20"></textarea>
  </div>

  <div class="field is-grouped is-pulled-right">
    <p class="control">
      <button class="button is-danger">
        Reset form
      </button>
    </p>
    <p class="control">
      <button class="button  is-primary">
        Extract information
      </button>
    </p>
  </div>
</section>
