<section class="section">
  <div class="field">
    <label class="label" for="url-input">
      <h2 class="title is-2">Enter your blob of text containing GitHub URLs</h2>
    </label>
    <textarea id="url-input" class="textarea" placeholder="Paste your URLs here" rows="30" autofocus
    [(ngModel)]="inputText"
    (keydown.enter)="hideInput.emit()"
    (keydown.esc)="reset()"
    (ngModelChange)="handleNewInput($event)"></textarea>
  </div>

  <div class="field is-grouped is-pulled-right">
    <p class="control">
      <button class="button is-danger" (click)="reset()" [title]="'Reset this input - shortcut: Esc'">
        Reset form
      </button>
    </p>
    <p class="control">
      <button class="button  is-primary" (click)="hideInput.emit()" [title]="'Proceed with the table - shortcut: Enter'">
        Extract information
      </button>
    </p>
  </div>
</section>
